*{
  margin: 0;
  padding: 0;
}
html, body{
 height: 100%;
 }
 #root{
  height: 100%;
  background: center/cover no-repeat url("./images/bcgr.jpg");  
}
.App{
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }
.loading_btn{
  height: 130px;
  width: 130px;
  border: 3px solid #e95c63d2;
  background: url("./images/tomato.jpg") no-repeat center;
  border-radius: 50%;
  font-weight: 600;
  color: #ffff;;
  -webkit-text-stroke: 1px rgb(252, 232, 122);
  font-size: 1.2em;
  letter-spacing: 1px;
  overflow: hidden;
  cursor: pointer;
  display:none;
  margin-right: 10rem;
}
.loading{
  display:flex;
  justify-content: center;
  align-items: center
}
@keyframes bounce {
0%, 20%, 60%, 100% {
  transform: translateY(0);
  transform: translateY(0);
}
40% {
  transform: translateY(-20px);
  transform: translateY(-20px);
}
80% {
  transform: translateY(-10px);
  transform: translateY(-10px);
}
}
.loading_btn:hover{
  animation: bounce 1s;
  opacity: .9;
}
.pizza_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10%;
}

.pizza_container{
  width: 350px;
  height: 350px;
  border:10px solid #915545;
  display: flex;
  border-radius: 50%;
  background: url("./images/pizza.JPG") no-repeat center/cover;
  position: relative;
}
.cut_line{
  width: 3px;
  height: 100%;
  background-color: #b86650;
  position: absolute;
  left: 175px;
  border-radius: 4px;
}
.descriptions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.count_friends{
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}
.done{ 
  opacity: 1;
  visibility: visible;
}
.total-table_wrapper{
  display: flex;
  text-decoration: none;
  border-collapse:collapse;
  width:35%;
  text-align:left;
}

.total-table_wrapper th{
  font-weight:normal;
  font-size:16px; 
  color:#ffffff;
  background-color:#348f00;}
.total-table_wrapper td{
  font-size:14px;
  color:#000000;
}
.total-table_wrapper td,.total-table_wrapper th{
  white-space:pre-wrap;
  padding:10px 10px;
  line-height:5px;
  vertical-align: middle;
  border: 1px solid #348f00;
}
.total-table_wrapper tr:hover{
  background-color:#f9fafb
}
.total-table_wrapper tr:hover td{
  color:#354251;cursor:default;
} 
.table-btn {
  width: 60px;
  height: 30px;
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn {
  background: rgb(6, 131, 89);
  background: linear-gradient(0deg, rgb(6, 131, 83) 0%, rgb(12, 180, 158) 100%);
  border: none;
}
.btn:hover {
   background: rgb(44, 160, 168);
background: linear-gradient(0deg, rgb(36, 99, 110) 0%, rgba(2,126,251,1) 100%);
}
.btn-dis {
  background: rgb(6, 131, 89);
  background: linear-gradient(0deg, rgb(6, 131, 83) 0%, rgb(12, 180, 158) 100%);
  border: none;
  opacity: .7;
}
